* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', serif
}
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme {
    --background-color: #222222;
    --text-color: #ffffff;
}

.dark-theme .navbar {
    background-color: #333333;
}

.light-theme .navbar {
    background-color: #f4f4f4;
}


